{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <p>
            <select name="symbol" class="form-select" aria-label="Default select example">
              <option selected>Symbol</option>
              {% for row in symbols %}
                  <option>{{ row["symbol"] }}</option>
              {% endfor %}
            </select>
        </p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}